<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <table>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>city</th>
        <th>email</th>
        <th>createdAt</th>
        <%customers.map((customer) =>{%>
        <tr>
            <td><%= customer.id %></td>
            <td><%= customer.name %></td>
            <td><%= customer.age %></td>
            <td><%= customer.city %></td>
            <td><%= customer.email %></td>
            <td><%= customer.createdAt %></td>
        </tr>
            <%})%>
    <a href="/customers/create"> baru</a>
</body>
</html>